.layout{

  display: grid;
  grid-template: 100px / 1fr ;
  height: 100vh;
  
}
@media screen and (max-width:952){

  .layout{

    grid-template: 200px 800px / 700px ;
    height: 100vh;
    
  
  }

  .layout__menu{
    width: 600px;
    height: 500px;
    display: flex;
    justify-content: center;
  
  }


}